@model ASPprojekt.Areas.Identity.Data.PlanModel
@using ASPprojekt.Areas.Identity.Data
@using System;
@using Microsoft.AspNetCore.Identity

@inject ASPprojekt.Areas.Identity.Data.ASPDbContext _userManager
@inject UserManager<ASPprojektUser> UserManager
@{
    ViewData["Title"] = "DeletePlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>

        <table class = "table">
    <tr>
       <th>
             @Html.DisplayNameFor(model => model.ASPprojektUser) 
       </th>
       <th>
            @Html.DisplayNameFor(model => model.ShiftStart)
       </th>
       <th>
            @Html.DisplayNameFor(model => model.ShiftEnd)
       </th>
       <th>
            @Html.DisplayNameFor(model => model.ShiftDay)
       </th>
    </tr>
         <tr>
                <td>
                     @Html.DisplayFor(model => model.ASPprojektUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ShiftStart)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ShiftEnd)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ShiftDay)
                </td>
            </tr>
            </table>
                <form asp-action="DeletePlan">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Plan">Back to List</a>
    </form>
